<!DOCTYPE html>

<html>
  <header>
    <link href="style/index.css" rel="stylesheet" />

    <!-- Bower Components -->
    <script src="public/bower_components/angular/angular.js"></script>
    <script src="public/bower_components/angular-material/angular-material.js"></script>
    <script src="public/bower_components/angular-aria/angular-aria.js"></script>
    <script src="public/bower_components/angular-animate/angular-animate.js"></script>
    <script src="public/bower_components/angular-messages/angular-messages.js"></script>
    <!-- Load controllers -->
    <script src="app.js"></script>
    <script src="controllers/indexCtrl.js"></script>
  </header>

  <body>
    <div ng-controller="indexController" layout="column" flex="" layout-fill="" ng-cloak="" class="subheaderdemoBasicUsage" ng-app="bookMarkApp">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">My Messages</div>
      </md-toolbar>
      <md-content style="height: 600px;" md-theme="altTheme">
        <section>
          <md-subheader class="md-primary">Unread Messages</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
                <md-checkbox  aria-label="Checkbox 1"></md-checkbox>
                <div class="md-list-item-text">
                  <h3>{{message.what}}</h3>
                  <h4>{{message.who}}</h4>
                  <p>
                    {{message.notes}}
                  </p>
                </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class="md-warn">Late Messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader>Read Messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <md-button>
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class="md-accent">Archived messages</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-3-line" ng-repeat="message in messages">
              <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
              <div class="md-list-item-text">
                <h3>{{message.what}}</h3>
                <h4>{{message.who}}</h4>
                <p>
                  {{message.notes}}
                </p>
              </div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>

  </body>

</html>
